.footer-panel { 
   
    background-color: black !important;
    height: auto;
  }
  
  .footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .footer-logo img {
    height: 50px;
  }
  
  .footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-column ul {
    list-style: none;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;    
    padding-top: 10px;
  }
  
 