<p-carousel [value]="slides" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
  <ng-template pTemplate="item" let-slide>
    <img [src]="slide" alt="Car image" class="carousel-img">
  </ng-template>
</p-carousel>
<div class="transparent">

<p-card class="card">
  
    <h1>Find Your Car</h1>
    <p>Better utility and more performance guarantee</p>

   
      <div class="button-group">
        <button pButton type="button" label="New Car" class="car-button" [ngClass]="{'active': selectedCar === 'new'}" (click)="selectCar('new')"></button>
        <button pButton type="button" label="Used Car" class="car-button" [ngClass]="{'active': selectedCar === 'used'}" (click)="selectCar('used')"></button>
      </div>
      <div class="radio-group">
        <p-radioButton name="group1" value="budget" label="BY BUDGET" [(ngModel)]="selectedOption"></p-radioButton>
        <p-radioButton name="group1" value="usage" label="BY USAGE" [(ngModel)]="selectedOption"></p-radioButton>
      </div>
      <div class="dropdown">
        <p-dropdown class="drop-item" [options]="budgetOptions" [(ngModel)]="selectedBudget" placeholder="Select Budget"></p-dropdown>
        <p-dropdown class="drop-item" [options]="vehicleOptions" [(ngModel)]="selectedVehicle" placeholder="Select Vehicle"></p-dropdown>
      </div>
      <div class="search">
        <button pButton type="button" label="Search" class="search-button"></button>
     
  

  </div>
  
</p-card>

</div>